## Flight Price Prediction & EDA

In [742]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [743]:
df_train = pd.read_excel('Flights\Data_Train.xlsx')
df_test = pd.read_excel('Flights\Test_set.xlsx')

In [744]:
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [745]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [746]:
final_df = pd.concat([df_train, df_test])
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [747]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

### feature engineering

In [748]:
final_df['Date'] = pd.to_datetime(final_df['Date_of_Journey']).dt.day
final_df['Month'] = pd.to_datetime(final_df['Date_of_Journey']).dt.month
final_df['Year'] = pd.to_datetime(final_df['Date_of_Journey']).dt.year

C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\2320554895.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df['Date'] = pd.to_datetime(final_df['Date_of_Journey']).dt.day
C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\2320554895.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df['Month'] = pd.to_datetime(final_df['Date_of_Journey']).dt.month
C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\2320554895.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df['Year'] = pd.to_datetime(final_df['Date_of_Journey']).dt.year

In [749]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [750]:
final_df.drop(['Date_of_Journey'], axis=1, inplace=True)

In [751]:
final_df['Arrival_Time'] = final_df['Arrival_Time'].apply(lambda x : x.split()[0])

In [752]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [753]:
final_df['Arrival_hour'] = pd.to_datetime(final_df['Arrival_Time']).dt.hour
final_df['Arrival_min'] = pd.to_datetime(final_df['Arrival_Time']).dt.minute

C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\882913448.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_df['Arrival_hour'] = pd.to_datetime(final_df['Arrival_Time']).dt.hour
C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\882913448.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_df['Arrival_min'] = pd.to_datetime(final_df['Arrival_Time']).dt.minute

In [754]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_hour     13354 non-null  int32
 14  Arrival_min      13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [755]:
final_df.drop(['Arrival_Time'], axis=1, inplace=True)

In [756]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

In [757]:
final_df['Dep_hour'] = pd.to_datetime(final_df['Dep_Time']).dt.hour
final_df['Dep_min'] = pd.to_datetime(final_df['Dep_Time']).dt.minute

C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\3630274089.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_df['Dep_hour'] = pd.to_datetime(final_df['Dep_Time']).dt.hour
C:\Users\SUNIL\AppData\Local\Temp\ipykernel_21152\3630274089.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  final_df['Dep_min'] = pd.to_datetime(final_df['Dep_Time']).dt.minute

In [758]:
final_df.drop(['Dep_Time'], axis=1, inplace=True)
final_df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50

In [759]:
final_df.head(5)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50

In [760]:
final_df[final_df.Total_Stops.isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [761]:
final_df['Total_Stops'] = final_df.Total_Stops.map({'non-stop': 0, '2 stops': 2, '1 stop': 1, '3 stops': 3, '4 stops': 4, np.nan : 2})

In [762]:
final_df.drop(['Route'], axis=1, inplace=True)

In [763]:
final_df['Additional_Info'].value_counts()

Additional_Info
No info                         10493
In-flight meal not included      2426
No check-in baggage included      396
1 Long layover                     20
Change airports                     8
Business class                      5
No Info                             3
1 Short layover                     1
Red-eye flight                      1
2 Long layover                      1
Name: count, dtype: int64

In [764]:
final_df.shape

(13354, 14)

In [765]:
final_df = final_df.drop([6474, 2660]).reset_index().drop(['index'], axis=1)

In [766]:
final_df[final_df['Duration'] == '5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_min, Dep_hour, Dep_min]
Index: []

In [767]:
d_hour = final_df['Duration'].str.split('h').str[0].astype(int)
d_hour

0         2
1         7
2        19
3         5
4         4
         ..
13346    23
13347     2
13348     6
13349    15
13350    14
Name: Duration, Length: 13351, dtype: int32

In [768]:
final_df['Duration_hour'] = d_hour

In [769]:
final_df.drop(['Duration'], axis=1, inplace=True)

In [770]:
final_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
0,IndiGo,Banglore,New Delhi,0,No info,3897.0,24,3,2019,1,10,22,20,2
1,Air India,Kolkata,Banglore,2,No info,7662.0,1,5,2019,13,15,5,50,7

In [771]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [772]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
final_df['Airline'] = le.fit_transform(final_df['Airline'])

In [773]:
final_df['Source'] = le.fit_transform(final_df['Source'])
final_df['Destination'] = le.fit_transform(final_df['Destination'])
final_df['Additional_Info'] = le.fit_transform(final_df['Additional_Info'])

In [774]:
final_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
0,3,0,5,0,8,3897.0,24,3,2019,1,10,22,20,2
1,1,3,0,2,8,7662.0,1,5,2019,13,15,5,50,7

In [775]:
final_df = final_df[~final_df.Price.isnull()]
df_wo_price = final_df[final_df.Price.isnull()]

In [776]:

final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10681 entries, 0 to 10680
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10681 non-null  int32
 1   Source           10681 non-null  int32
 2   Destination      10681 non-null  int32
 3   Total_Stops      10681 non-null  int64
 4   Additional_Info  10681 non-null  int32
 5   Price            10681 non-null  float64
 6   Date             10681 non-null  int32
 7   Month            10681 non-null  int32
 8   Year             10681 non-null  int32
 9   Arrival_hour     10681 non-null  int32
 10  Arrival_min      10681 non-null  int32
 11  Dep_hour         10681 non-null  int32
 12  Dep_min          10681 non-null  int32
 13  Duration_hour    10681 non-null  int32
dtypes: float64(1), int32(12), int64(1)
memory usage: 751.0 KB

In [777]:
final_df.isnull().sum()

Airline            0
Source             0
Destination        0
Total_Stops        0
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Arrival_hour       0
Arrival_min        0
Dep_hour           0
Dep_min            0
Duration_hour      0
dtype: int64

In [830]:
some_data = X_train.iloc[:5]
some_data_label = y_train.iloc[:5]

In [831]:
some_data

,Airline,Source,Destination,Total_Stops,Additional_Info,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
10609,4,4,3,0,5,18,5,2019,8,30,7,5,1
1034,8,2,1,1,8,24,4,2019,22,5,15,45,6
8122,3,3,0,0,8,27,3,2019,8,20,5,30,2
4779,4,0,5,1,8,15,3,2019,12,20,5,50,6
3207,1,2,1,2,8,6,6,2019,19,15,5,55,13

In [832]:
some_data_label

10609     4050.0
1034      5583.0
8122      4148.0
4779      9623.0
3207     10861.0
Name: Price, dtype: float64

In [778]:
X = final_df.drop(['Price'],axis=1)
y = final_df['Price']

In [779]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.2, random_state=42)

### Linear Regressor

In [780]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

lin_reg.fit(X_train, y_train)
y_pred1 = lin_reg.predict(X_test)

In [834]:
print('Actual', some_data_label.values)
print('Prediction', lin_reg.predict(some_data))
print('RMSE :', np.sqrt(mean_squared_error(lin_reg.predict(some_data), some_data_label)))

Actual [ 4050.  5583.  4148.  9623. 10861.]
Prediction [ 4329.17947659  9646.05944165  4227.75861468 10557.33965677
 12560.80586995]
RMSE : 2017.676150073874

In [782]:
from sklearn.metrics import mean_squared_error

rmse = np.sqrt(mean_squared_error(y_pred1, y_test))

In [783]:
print('RMSE LR: ', rmse)

RMSE LR:  3614.954266154201

In [784]:
from sklearn.model_selection import cross_val_score

np.sqrt(np.mean(-cross_val_score(lin_reg, X, y, scoring='neg_mean_squared_error', cv=10)))

3472.5184537217515

### Decision Tree Regressor

In [841]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)
y_pred2 = tree_reg.predict(X_test)

np.sqrt(mean_squared_error(y_pred2, y_test))

2200.839521273322

In [842]:
np.sqrt(np.mean(-(cross_val_score(tree_reg, X, y, scoring='neg_mean_squared_error', cv=10))))

2067.734156397838

In [848]:
print('Actual', some_data_label.values)
print('Prediction', tree_reg.predict(some_data))
print('RMSE :', np.sqrt(mean_squared_error(tree_reg.predict(some_data), some_data_label)))

Actual [ 4050.  5583.  4148.  9623. 10861.]
Prediction [ 4050.  5583.  4148.  9623. 10861.]
RMSE : 0.0

### Random Forest Regressor

In [844]:
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor()
forest_reg.fit(X_train, y_train)

RandomForestRegressor()

In [845]:
y_pred3 = forest_reg.predict(X_test)

In [846]:
print('RMSE RFR :', np.sqrt(mean_squared_error(y_pred3, y_test)))

RMSE RFR : 1869.109404890178

In [851]:
np.sqrt(np.mean(-cross_val_score(forest_reg, X, y, scoring='neg_mean_squared_error', cv=10)))

1559.037591499109

In [847]:
print('Actual', some_data_label.values)
print('Prediction', forest_reg.predict(some_data))
print('RMSE :', np.sqrt(mean_squared_error(forest_reg.predict(some_data), some_data_label)))

Actual [ 4050.  5583.  4148.  9623. 10861.]
Prediction [ 4191.75  5963.48  4214.41 10737.59 11032.34]
RMSE : 536.8308196629549